<ion-view>


  <ion-content scroll="false" class="contact-cont">

    <div class="contact-header">
      <img src="img/logo.png">

      <div class="tabs-buttons" ng-class="flagPlatform ? 'btn-header-android' : 'btn-header-ios'">
        <button class="button back" ng-click="goBack()">
          <i class="icon ion-android-arrow-back"></i>
        </button>
      </div>
    </div>

    <ion-scroll class="contact-content">

      <div class="row">
        <div class="col align-right">
          <i class="icon ion-location"></i>
        </div>
        <div class="col col-80">
          <span>Santa Fe, Argentina</span>
        </div>
      </div>

      <div class="row">
        <div class="col align-right">
          <i class="icon ion-email"></i>
        </div>
        <div class="col col-80">
          <span>andres@andresgotta.com.ar</span>
        </div>
      </div>


      <div class="row">
        <div class="col align-right">
          <i class="icon ion-ios-telephone"></i>
        </div>
        <div class="col col-80">
          <span>+54 9 11 6305 8777</span>
        </div>
      </div>

      <div class="row">
        <div class="col align-right">
          <i class="icon ion-social-facebook"></i>
        </div>
        <div class="col col-80">
          <span ng-click="open('https://www.facebook.com/AndresGottaGolf/')">/AndresGottaGolf</span>
        </div>
      </div>

      <div class="row">
        <div class="col align-right">
          <i class="icon ion-social-twitter"></i>
        </div>
        <div class="col col-80">
          <span ng-click="open('https://twitter.com/andresgotta')">@andresgotta</span>
        </div>
      </div>

      <div class="row">
        <div class="col align-right">
          <i class="icon ion-social-instagram"></i>
        </div>
        <div class="col col-80">
          <span ng-click="open('https://www.instagram.com/andresgottagolf/')">@andresgottagolf</span>
        </div>
      </div>

    </ion-scroll>

  </ion-content>

</ion-view>
