<ion-view>

    <ion-header-bar class="newReport-header">

        <div class="buttons">
            <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
        </div>
        <h1 class="title"></h1>
        <div class="buttons">
            <button class="button icon-right ion-android-send" ng-click="sendReport()">
                {{ context == 'edit' ? 'GUARDAR INFORME' : 'PUBLICAR INFORME'}}
            </button>
        </div>

    </ion-header-bar>

    <ion-content scroll="false" class="newReport-cont">

        <ion-scroll>

            <div class="newReport-item-icon" ng-class="{'student': studentSelected()}" ng-click="openStudentModal()">
                <i class="icon ion-android-person"></i>
                <div>
                    <p ng-if="!studentSelected()">Seleccioná un estudiante</p>
                    <span ng-repeat="student in report.students track by $index" ng-if="student.selected">
                        {{student | getUsername}}
                        <!--<i class="icon ion-close-circled" ng-click="student.selected = false"></i>-->
                    </span>
                </div>
            </div>

            <div class="newReport-item-icon">
                <i class="icon ion-android-calendar"></i>
                <div>
                    <input type="date" ng-model="report.date">
                    <p class="placeholder">{{(report.date | date:"dd/MM/yyyy") || 'Indicá la fecha'}}</p>
                </div>
            </div>

            <div class="newReport-item-icon">
                <i class="icon ion-android-pin"></i>
                <div>
                    <select ng-model="report.place">
                        <option ng-value="$index" ng-repeat="place in places track by $index">{{place.name}}</option>
                    </select>
                    <p class="placeholder">{{places[report.place].name || 'Indicá la sede'}}</p>
                </div>
            </div>

            <input type="text" class="newReport-item-title" placeholder="Escribí un título para el informe o clase" ng-model="report.title"/>
            <textarea class="newReport-item-description" rows="4" placeholder="Escribí un resumen" ng-model="report.resume"></textarea>

            <div class="newReport-item-icon margin-top">
                <i class="icon ion-folder"></i>
                <div>
                    <p>Materiales adjuntos · {{report.materialList.length || '0'}}
                        <span ng-click="expand('expandMaterial')">
                            {{report.expandMaterial ? '-' : '+'}}
                        </span>
                    </p>
                </div>
            </div>

            <div class="newReport-material-cont" ng-if="report.expandMaterial" ng-repeat="media in report.materialList track by $index">
                <div>
                    <img ng-src="{{'https://img.youtube.com/vi/' + media.media_material.uri + '/0.jpg'}}" ng-if="media.media_material.type == 'type.video'">
                    <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.image'">
                    <img src="img/audio-list.png" ng-if="media.media_material.type == 'type.audio'">
                    <i class="icon ion-close newReport-media-delete-btn" ng-click="deleteMedia($index)"></i>
                </div>
                <p>{{media.name || "Indicación"}}</p>
                <div>
                    <span ng-repeat="goal in media.goals track by $index">
                        {{goal.name}}
                    </span>
                </div>
            </div>

        </ion-scroll>

    </ion-content>

    <div class="newReport-item-icon sticky" ng-click="goMaterial()">
        <i class="icon ion-folder"></i>
        <div>
            <p>ADJUNTÁ MATERIALES</p>
        </div>
    </div>

</ion-view>
