<ion-view>

  <ion-header-bar class="newReport-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1></h1>
    <div class="buttons"></div>
  </ion-header-bar>

  <ion-content scroll="false" class="report-cont">

    <ion-scroll>

      <!------------------- ROL DOCENTE --------------------->
      <div ng-if="rol == 'teacher'">

        <p class="report-student">{{report.student | getUsername}}</p>

        <div class="report-item-icon">
          <i class="icon ion-android-calendar"></i>
          <div>{{report.date | date: "EEEE dd/MM/yyyy"}}</div>
        </div>

        <div class="report-item-icon">
          <i class="icon ion-android-pin"></i>
          <div>{{report.place.name}}</div>
        </div>

        <div class="report-item-class">
          <p>{{report.title}}</p>
          <span ng-click="expand('descriptionExpanded')">
            {{report.descriptionExpanded ? '-' : '+'}}
          </span>
        </div>

        <p class="report-description" ng-if="report.descriptionExpanded">
          {{report.report.resume}}
        </p>

      </div>


      <!------------------- ROL ESTUDIANTE --------------------->
      <div ng-if="rol == 'student'"  ng-init="report.descriptionExpanded = true">

        <div class="report-item-class">
          <p>{{report.title}}</p>
          <span ng-click="expand('descriptionExpanded')">
            {{report.descriptionExpanded ? '-' : '+'}}
          </span>
        </div>

        <p class="report-description student" ng-if="report.descriptionExpanded">
          {{report.report.resume}}
        </p>

        <p class="report-teacher">Prof. {{report.teacher | getUsername}}</p>

        <div class="report-item-icon">
          <i class="icon ion-android-calendar"></i>
          <div>{{report.date | date: "EEEE dd/mm/yyyy"}}</div>
        </div>

        <div class="report-item-icon student">
          <i class="icon ion-android-pin"></i>
          <div>{{report.place.name}}</div>
        </div>

      </div>

      <!----------------- CONTENIDO COMPARTIDO --------------------->
      <div class="report-item-icon material">
        <i class="icon ion-folder"></i>
        <div>
          <p>Materiales Adjuntos · {{report.report.indications.length || '0'}}
            <span ng-click="expand('materialExpanded')">
                {{report.materialExpanded ? '-' : '+'}}
              </span>
          </p>
        </div>
      </div>

      <div class="newReport-material-cont" ng-if="report.materialExpanded" ng-repeat="media in report.report.indications track by $index" ng-click="viewInfo(media)">
        <div>
          <img ng-src="{{'https://img.youtube.com/vi/' + media.media_material.uri + '/0.jpg'}}" ng-if="media.media_material.type == 'type.video'">
          <img ng-src="{{'http://docs.google.com/uc?export=open&id=' + media.media_material.uri}}" ng-if="media.media_material.type == 'type.image'">
          <img src="img/audio-list.png" ng-if="media.media_material.type == 'type.audio'">
        </div>
        <p>{{media.name}}</p>
        <div>
            <span ng-repeat="goal in media.goals track by $index">
              {{goal.name}}
            </span>
        </div>
      </div>

      <div class="report-item-icon material feedback">
        <i class="icon" ng-class="report.report.feedback.value ? 'ion-ios-chatboxes feedback' : 'ion-ios-chatboxes-outline'"></i>
        <div>
          <p ng-class="{'feedback': report.report.feedback.value}">Calificación {{ report.report.feedback.value ? '' : 'Pendiente'}}
            <span ng-click="expand('feedbackExpanded')" ng-if="report.report.feedback.value">
              {{report.feedbackExpanded ? '-' : '+'}}
            </span>
          </p>
        </div>
      </div>

      <div ng-if="report.report.feedback.value">

        <div class="report-feedback-point-cont" ng-if="report.feedbackExpanded">
          <p>
            {{{1: 'Muy Malo', 2: 'Malo', 3: 'Regular', 4: 'Muy Bueno' , 5: 'Excelente'}[report.report.feedback.value]}}
          </p>
          <img ng-src="{{{1: 'img/feedback-1.png', 2: 'img/feedback-2.png', 3: 'img/feedback-3.png', 4: 'img/feedback-4.png' , 5: 'img/feedback-5.png'}[report.report.feedback.value]}}">
        </div>
        <p class="report-description feedback" ng-if="report.feedbackExpanded" >
          {{report.report.feedback.notes}}
        </p>
      </div>

      <div ng-if="!report.report.feedback.value && rol == 'student'" class="report-send-feedback">
        <div class="row">
          <div class="col-20 padding" ng-repeat="point in [5,4,3,2,1]" ng-click="openFeedback(point)">
            <img src="img/feedback-{{point}}.png">
          </div>
        </div>
        <div class="row">
          <div class="col-20" ng-repeat="point in [5,4,3,2,1]">
            <p>
              {{{1: 'Muy Malo', 2: 'Malo', 3: 'Regular', 4: 'Muy Bueno' , 5: 'Excelente'}[point] | uppercase}}
            </p>
          </div>
        </div>

      </div>

    </ion-scroll>

  </ion-content>

</ion-view>
