.tabs-cont {
  width: 100%;
  height: 100%;
  background-color: #efe8da;
}

.tabs-cont > ion-nav-view {
  background-color: #f4f4f4 !important;
}

.tabs-cont > div {
  width: 100%;
  height: 200px;
  background-color: #f4f4f4;
  text-align: center;
}

.tabs-cont > div > div:first-of-type {
  height: 150px;
  background-color: #09ccbe;
  width: 100%;
}

.tabs-cont > div > div:first-of-type > img {
  max-width: 100%;
  max-height: 100%;
}

.tabs-view {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 200px;
  height: auto;
  background-color: #f4f4f4;
}

.tabs-buttons {
  position: absolute;
  right: 0;
  left: 0;
}

.tabs-buttons > button.back {
  float: left;
  margin-left: 5px;
}

.tabs-buttons > button, .tabs-buttons > div > button:hover {
  color: white !important;
  font-size: 30px;
  background: transparent;
  border: 0;
  float: right;
  min-width: 40px;
}

.tabs-buttons > button:first-of-type {
  margin-right: 10px;
}

.tabs-buttons > button.activated, .tabs-buttons > button:active {
  background: transparent;
  color: white;
  border: 0;
  opacity: 0.8;
}

.btn-header-android {
  top: 10px;
}

.btn-header-ios {
  top: 10px;
}

.tabs-buttons > p {
  line-height: 25px;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-family: ChivoBold;
  width: 50%;
  text-align: left;
  float: left;
  padding: 10px 20px;
}

.tabs-buttons > p.search-goal {
  font-family: ChivoRegular;
}

.tabs-buttons > p.student-name {
  padding-left: 0 !important;
}

.tabs-menu-cont {
  height: 60px;
  width: 290px;
  background: white;
  position: relative;
  top: -30px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 22px -8px;
  padding-left: 4px;
}

.tabs-menu-cont > div {
  position: relative;
  width: 224px;
  height: 60px;
  background: white;
  padding: 0;
  margin: 0;
}

.tabs-menu-cont.student > div {
  margin: auto
}

.tabs-menu-cont > div > div {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 51px;
  display: inline-block;
  border: 0;
}

.tabs-menu-cont.student > div > div {
  width: 65px;
}

.tabs-menu-cont > button, .tabs-menu-cont > button:hover {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  background: #09ccbe;
  border: 0;
  border-radius: 0 5px 5px 0;
  color: white;
  font-size: 24px;
  line-height: 30px;
}

.tabs-menu-cont > button.activated, .tabs-menu-cont > button:active {
  opacity: 0.7;
  border: 0;
}

.tab-border {
  border-bottom: 3px solid #09ccbe !important;
}

.icon-behind {
  position: absolute;
  right: 15px;
  top: 11px;
  opacity: 0.5;
}

.icon-front {
  position: absolute;
  left: 10px;
  bottom: 7px;
  border: 3px solid #09ccbe;
  border-radius: 100%;
  line-height: 15px;
}

.icon-front:before {
  line-height: 21px !important;
  padding: 0;
  margin: 0;
}

.tabs-menu-cont > div > div > i {
  color: #C1BCB0;
  font-size: 25px;
  line-height: 60px;
}

.icon-select {
  color: #09ccbe !important;
}

.tab-search {
  font-family: ChivoBold;
}

.tab-goal {
  font-family: ChivoBold;
  color: #09ccbe;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 5px 10px;
  font-size: 15px;
}

.tabs-student-filter {
  clear: both;
  padding-left: 20px !important;
}

.tabs-student-filter > i {
  color: #cccccc;
  font-size: 20px;
  margin-right: 15px;
  float: left;
  line-height: 60px;
}

.tabs-student-filter > p {
  font-family: ChivoLight;
  line-height: 60px;
  color: #666666;
  font-size: 14px;
  margin: 0;
  float: left;
}

.tab-search-student-input::-webkit-input-placeholder{
  color: rgb(255, 255, 255) !important;
}
.tab-search-student-input:-moz-placeholder{
  color: rgb(255, 255, 255) !important;
}
.tab-search-student-input::-moz-placeholder{
  color: rgb(255, 255, 255) !important;
}
.tab-search-student-input:-ms-input-placeholder {
  color: rgb(255, 255, 255) !important;
}

.tab-search-student-input {
  line-height: 25px;
  margin: 0px;
  font-size: 16px;
  font-family: ChivoBold;
  width: 50%;
  text-align: left;
  float: left;
  padding: 10px 20px;
  background: transparent;
  border: 0px;
  color: rgb(255, 255, 255) !important;
}

@media screen and (min-height: 900px) {

  .tabs-view {
    top: 300px;
  }

  .tabs-cont > div {
    height: 300px;
  }

  .tabs-cont > div > div:first-of-type {
    height: 250px;
  }
}

@media screen and (min-width: 600px) {
  .tabs-menu-cont {
    width: 400px;
  }

  .tabs-menu-cont > div {
    width: 330px;
  }

  .tabs-menu-cont > div > div {
    width: 70px;
  }
}
