<ion-view>

  <ion-content scroll="false" class="tabs-cont">

    <div>

      <div>
        <img ng-src="{{academy.sport.icon | setSportImage: 'big'}}" onerror="this.src='img/golf.png'">
      </div>

      <div class="tabs-buttons" ng-class="flagPlatform ? 'btn-header-android' : 'btn-header-ios'" >

        <!----------- GENERAL (ACADEMIA Y BOTON MAS OPCIONES ---------------->

        <p ng-if="(!searchStudentFlag || tabActive != 2) && (!searching || tabActive != 3) && !studentFilter">
          {{academy.academy_name ? academy.academy_name : academy.username}}
        </p>

        <button class="button" ng-click="openOptions()" ng-if="!studentFilter">
          <i class="icon ion-android-more-vertical"></i>
        </button>


        <!----------- FILTRO POR UN ESTUDIANTE ---------------->

        <button class="button back" ng-click="cancelFilter()" ng-if="studentFilter">
          <i class="icon ion-android-arrow-back"></i>
        </button>

        <p ng-if="studentFilter" class="student-name">{{studentFilter.name}}</p>



        <!----------- BUSCAR MATERIAL ---------------->
        <button class="button" ng-click="searchTapped()" ng-if="tabActive == 3">
          <i class="icon" ng-class="{'ion-android-search': !searching, 'ion-android-close': searching}"></i>
        </button>

        <p ng-if="searching && tabActive == 3" ng-click="searchTapped(true)" class="search-goal">
          <span class="tab-search">{{search.keyword}}</span>
          <span class="tab-goal" ng-if="goal">{{goal.name}}</span>
        </p>


        <!----------- BUSCAR ESTUDIANTE ---------------->

        <button class="button" ng-click="searchStudentTapped()" ng-if="tabActive == 2">
          <i class="icon" ng-class="{'ion-android-search': !searchStudentFlag, 'ion-android-close': searchStudentFlag}"></i>
        </button>

        <div ng-if="searchStudentFlag && tabActive == 2 && !studentFilter">
          <input ng-model="searchStudent.keyword" placeholder="Buscar..." ng-change="studentSearchChange()"
                 id="tabStudentInput" class="tab-search-student-input">
        </div>


      </div>

      <div class="tabs-menu-cont" ng-class="{'student': rol == 'student'}">
        <div ng-if="!studentFilter">
          <div ng-class="tabActive == 0 ? 'tab-border' : ''" ng-click="goToReportList()">
            <i class="icon ion-android-list" ng-class="tabActive == 0 ? 'icon-select' : ''"></i>
          </div>
          <div ng-class="tabActive == 1 ? 'tab-border' : ''" ng-click="goToRoutineList()">
            <i class="icon icon-list-ol" ng-class="tabActive == 1 ? 'icon-select' : ''"></i>
          </div>
          <div ng-class="tabActive == 2 ? 'tab-border' : ''" ng-click="goTo('tabs.studentList')" ng-if="rol == 'teacher'">
            <i class="icon ion-android-person" ng-class="tabActive == 2 ? 'icon-select' : ''"></i>
          </div>
          <div ng-class="tabActive == 3 ? 'tab-border' : ''" ng-click="goTo('tabs.materialHeader.video')">
            <i class="icon ion-folder" ng-class="tabActive == 3 ? 'icon-select' : ''"></i>
          </div>
        </div>
        <div class="tabs-student-filter" ng-if="studentFilter">
          <i class="icon" ng-class="{'Informes': 'ion-android-list', 'Rutinas': 'ion-refresh'}[studentFilter.type]"></i>
          <p>{{studentFilter.type}}</p>
        </div>
        <button ng-click="createNew()"  ng-if="rol == 'teacher' && !studentFilter">
          <i class="icon icon-behind" ng-class="{0 :'ion-android-list', 1:'icon-list-ol', 2:'ion-android-person', 3:'ion-folder'}[tabActive]"></i>
          <i class="icon ion-android-add-circle icon-front"></i>
        </button>

      </div>

    </div>

    <ion-nav-view class="tabs-view"></ion-nav-view>

  </ion-content>

</ion-view>
