<ion-view>

  <ion-content scroll="false" class="academy-cont">

    <div>
      <img src="img/logo.png">

      <div class="tabs-buttons" ng-class="flagPlatform ? 'btn-header-android' : 'btn-header-ios'" >
        <button class="button" ng-click="openOptions()" ng-if="!studentFilter">
          <i class="icon ion-android-more-vertical"></i>
        </button>
      </div>
    </div>

    <ion-scroll>

      <p class="noResult-cont marginTop" ng-if="academyList.length == 0">
        No se encontraron academias
      </p>

      <div ng-repeat="academy in academyList track by $index" ng-click="select(academy)">
        <img ng-src="{{academy.sport.icon | setSportImage: 'small'}}" onerror="this.src='img/golf-g.png'">
        <span>{{academy.academy_name || academy.username}}</span>
        <i class="icon ion-arrow-right-c"></i>
      </div>

    </ion-scroll>

  </ion-content>

</ion-view>
