<ion-view>

  <ion-header-bar class="newReport-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1></h1>
    <div class="buttons"></div>
  </ion-header-bar>

  <ion-content scroll="false" class="report-cont">

    <ion-scroll>

      <!----------------- ROL DOCENTE --------------------->
      <div ng-if="rol == 'teacher'">
        <p class="report-student">{{routine.student | getUsername}}</p>

        <div class="report-item-icon">
          <i class="icon ion-android-calendar"></i>
          <div>{{routine.created_at | date: "EEEE dd/MM/yyyy"}}</div>
        </div>

        <div class="report-item-class">
          <p>{{routine.title}}</p>
          <span ng-click="expand('descriptionExpanded')">
            {{routine.descriptionExpanded ? '-' : '+'}}
          </span>
        </div>

        <p class="report-description" ng-if="routine.descriptionExpanded">
          {{routine.resume}}
        </p>
      </div>

      <!----------------- ROL ESTUDIANTE --------------------->
      <div ng-if="rol == 'student'">
        <div class="report-item-class">
          <p>{{routine.title}}</p>
          <span ng-click="expand('descriptionExpanded')">
            {{routine.descriptionExpanded ? '-' : '+'}}
          </span>
        </div>

        <p class="report-description student" ng-if="routine.descriptionExpanded">
          {{routine.resume}}
        </p>

        <p class="report-teacher">Prof. {{routine.teacher | getUsername}}</p>

        <div class="report-item-icon student">
          <i class="icon ion-android-calendar"></i>
          <div>{{routine.created_at | date: "EEEE dd/MM/yyyy"}}</div>
        </div>
      </div>

      <!----------------- CONTENIDO COMPARTIDO --------------------->
      <div class="report-item-icon material routine-no-border">
        <i class="icon ion-navicon-round"></i>
        <div>

          <p>Pasos · {{routine.steps.length || '0'}}
            <span ng-click="expand('stepExpanded')">
              {{routine.stepExpanded ? '-' : '+'}}
            </span>
          </p>

        </div>
      </div>

      <div class="routine-item-icon" ng-if="routine.stepExpanded" ng-repeat="step in routine.steps track by $index">

        <i class="icon" ng-class="step.completed ? 'ion-ios-checkmark completed' : 'ion-ios-circle-outline'"
           ng-click="setCompletedStep(step, $index + 1)" ng-if="!step.loading"></i>

        <i ng-if="step.loading"><ion-spinner icon="spiral"></ion-spinner></i>

        <span>{{step.title}}</span>
        <p>{{step.description}}</p>

      </div>

      <div class="report-item-icon material feedback">
        <i class="icon" ng-class="routine.feedback.value ? 'ion-ios-chatboxes feedback' : 'ion-ios-chatboxes-outline'"></i>
        <div>
          <p ng-class="{'feedback': routine.feedback.value}">Calificación {{ routine.feedback.value ? '' : 'Pendiente'}}
            <span ng-click="expand('feedbackExpanded')" ng-if="routine.feedback.value">
              {{routine.feedbackExpanded ? '-' : '+'}}
            </span>
          </p>
        </div>
      </div>

      <div ng-if="routine.feedback.value">

        <div class="report-feedback-point-cont" ng-if="routine.feedbackExpanded">
          <p >
            {{{1: 'Muy Malo', 2: 'Malo', 3: 'Regular', 4: 'Muy Bueno' , 5: 'Excelente'}[routine.feedback.value]}}
          </p>
          <img ng-src="{{{1: 'img/feedback-1.png', 2: 'img/feedback-2.png', 3: 'img/feedback-3.png', 4: 'img/feedback-4.png' , 5: 'img/feedback-5.png'}[routine.feedback.value]}}">
        </div>
        <p class="report-description feedback" ng-if="routine.feedbackExpanded" >
          {{routine.feedback.notes}}
        </p>
      </div>

      <div ng-if="!routine.feedback.value && rol == 'student'" class="report-send-feedback">
        <div class="row">
          <div class="col-20 padding" ng-repeat="point in [5,4,3,2,1]" ng-click="openFeedback(point)">
            <img src="img/feedback-{{point}}.png">
          </div>
        </div>
        <div class="row">
          <div class="col-20" ng-repeat="point in [5,4,3,2,1]">
            <p>
              {{{1: 'Muy Malo', 2: 'Malo', 3: 'Regular', 4: 'Muy Bueno' , 5: 'Excelente'}[point] | uppercase}}
            </p>
          </div>
        </div>
      </div>

    </ion-scroll>

  </ion-content>

</ion-view>
