<ion-view>

  <ion-header-bar class="mediaForm-header">
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="goBack()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-icon " ng-click="createStudent()">
        CREAR ESTUDIANTE
        <i class="icon ion-checkmark"></i>
      </button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false" class="mediaForm-cont">

    <ion-scroll>

      <div>
        <p>NOMBRE</p>
        <input type="text" ng-model="user.firstName" placeholder="Ingresá el nombre">
      </div>
      <div>
        <p>APELLIDO</p>
        <input type="text" ng-model="user.lastName" placeholder="Ingresá el apellido">
      </div>
      <div>
        <p>EMAIL</p>
        <input type="email" ng-model="user.email" placeholder="Ingresá el email">
      </div>
      <div>
        <p>PASSWORD</p>
        <input type="password" ng-model="user.password" placeholder="Ingresá la contraseña por defecto">
      </div>

    </ion-scroll>

  </ion-content>
</ion-view>
