<ion-view>

  <ion-content scroll="false" class="studentList-cont">

    <ion-scroll>

      <p class="noResult-cont" ng-if="!(studentList | getStudents: search.keyword).length && !loading">
        No se encontraron resultados
      </p>

      <div ng-repeat="student in studentList | getStudents: search.keyword track by $index" ng-if="studentList.length > 0">

        <div class="item-student-list" ng-click="selectStudent(student.id)" ng-class="{'selected': selectedStudent == student.id}">
          <p>{{student | getUsername}} </p>
          <button><i class="icon" ng-class="{false:'ion-chevron-down', true:'ion-chevron-up'}[selectedStudent == student.id]"></i></button>
        </div>

        <div class="item-student-option" ng-if="selectedStudent == student.id">
          <div ng-click="viewStudent(student, true)">
            <i class="icon ion-android-list"></i>
            <p>Informes</p>
          </div>
          <div ng-click="viewStudent(student, false)">
            <i class="icon ion-refresh"></i>
            <p>Rutinas</p>
          </div>
        </div>

      </div>

      <ion-infinite-scroll on-infinite="loadMore()" ng-if="moreData" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

  </ion-content>

</ion-view>
