.custom-pop-push .popup {
  background-color: transparent !important;
}
.custom-pop-push .popup-head {
  display: none !important;
}

.pop-push {
  background-color: white !important;
  text-align: center;
  border-radius: 4px;
}

.pop-push-icon {
  font-size: 48px;
  padding: 30px 0;
  color: #09ccbe
}

.pop-push-title {
  font-size: 16px !important;
  padding-bottom: 5px;
  font-family: ChivoRegular;
}

.pop-push-message {
  padding: 0 15px 15px 15px;
  font-family: ChivoLight;
}

.button-pop-push {
  border-radius: 0 0 4px 4px;
  color: white !important;
  border: 0 !important;
  overflow: hidden;
  background-color: #09ccbe !important;
  font-family: ChivoBold;
}

.button-pop-push.active, .button-pop-push.activated{
  opacity: 0.7 !important;
  background-color: #00a09d !important;
}
