.reportList-cont {
  background-color: #f4f4f4;
}

.reportList-cont > ion-scroll {
  width: 100%;
  height: 100%;
}

.reportList-cont > ion-scroll > div > div > div{
  height: 100px;
  width: 100%;
  background: white;
  margin-bottom: 3px;
  padding: 12.5px;

}

.first-row-item{
  height: 25px;
  background: transparent;
  clear: both;
}

.first-row-item > p{
  float: left;
  height: 25px;
  width: calc(100% - 60px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 15px !important;
  line-height: 25px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-family: ChivoBlack;
}

.first-row-item > button,
.first-row-item > button:hover{
  float: right;
  height: 25px;
  width: 30px;
  color: #9C999C;
  background: transparent;
  border: 0;
}

.first-row-item > i{
  text-align: center;
  float: right;
  height: 25px;
  width: 30px;
  color: #9C999C;
  background: transparent;
  border: 0;
  line-height: 25px;
  font-size: 15px;
}

.first-row-item > button.activated,
.first-row-item > button:active{
  opacity: 0.8;
}

.second-row-item{
  height: 25px;
  background: transparent;
  clear: both;
  color: #9C999C;
}

.second-row-item > i{
  float: left;
  height: 100%;
  width: 20px;
  background: transparent;
  line-height: 25px;
  text-align: left;
  font-size: 15px;
}

.second-row-item > p{
  float: left;
  height: 20px;
  width: calc(100% - 25px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 16px;
  display: -webkit-box;
  font-family: ChivoRegular;
}

.third-row-item{
  height: 25px;
  background: transparent;
  clear: both;
  color: #9C999C;
}

.third-row-item > i{
  height: 100%;
  width: 20px;
  background: transparent;
  line-height: 25px;
  text-align: left;
  font-size: 15px;
  float: right;
}

.third-row-item > i:first-child{
  float: left !important;
}

.third-row-item > p{
  float: left;
  height: 25px;
  width: calc(100% - 40px);
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 25px;
  display: -webkit-box;
  font-family: ChivoRegular;
}

.chatboxes-green{
  color: #09ccbe !important;
}

/****************************** NEW REPORT ******************************/

.newReport-header{
  background-color: #09ccbe;
  color: #ffffff;
  box-shadow: 0px 2px 12px rgba(0,0,0,.2);
}

.newReport-header > div > button, .newReport-header > div > button:hover{
  color: #ffffff;
  font-family: ChivoBlack;
}
.newReport-header > div > button:before{
  font-size: 20px !important;
}

.newReport-header > div:last-of-type > button{
  background-color: transparent;
  font-size: 13px;
  border: 0;
}

.newReport-header > div:last-of-type > button:before{
  padding-left: 10px !important;
  font-size: 17px !important;
}

.newReport-header > div > button.activated, .newReport-header > div > button.active{
  background-color: transparent;
  opacity: 0.7 !important;
}

.newReport-cont{
  background-color: #f4f4f4;
  margin-bottom: 60px;
}

.newReport-cont > ion-scroll{
  height: 100%;
  width: 100%;
}

.newReport-item-icon{
  min-height: 60px;
  border-bottom: 1px solid #f4f4f4;
  background-color: #ffffff;
  clear: both;
  overflow: hidden;
}
.newReport-item-icon.student > div{
  padding: 10px 0 !important;
}
.newReport-item-icon.student > div > span{
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin: 6px 6px 0 0 !important;
  font-size: 14px;
  font-family: ChivoBold;
  color: #666666;
  background-color: #ffffff;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 6px;
}
.newReport-item-icon.student > div > span > i{
  padding-left: 4px;
}
.newReport-item-icon.margin-top{
  margin-top: 15px;
}
.newReport-item-icon.sticky{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 4px 3px 10px rgba(0,0,0,.4);
}
.newReport-item-icon.sticky.active, .newReport-item-icon.sticky.activated{
  opacity: 0.7;
}
.newReport-item-icon.sticky > i, .newReport-item-icon.sticky > div > p{
  color: #09ccbe;
  font-family: ChivoBlack;
}
.newReport-item-icon.sticky > div > p{
  font-size: 13px;
}

.newReport-item-icon > div > p > span {
  float: right;
  padding-right: 10px;
  font-size: 17px;
  line-height: 56px;
  width: 30px;
  text-align: center;
}

.newReport-item-icon > i{
  line-height: 58px;
  float: left;
  width: 60px;
  color: #c1bcb0;
  text-align: left;
  padding-left: 15px;
  font-size: 16px;
}

.newReport-item-icon > *:last-child{
  float: left;
  width: 85%;
  width: calc(100% - 65px);
  min-height: 60px;
  padding: 0 !important;
  margin: 0 !important;
}

.newReport-item-icon > div{
  position: relative;
}

.newReport-item-icon > div > * {
  color: #999999;
}

.newReport-item-icon > div > p {
  line-height: 59px;
  font-family: ChivoRegular;
  font-size: 14px;
  margin: 0;
}

.newReport-item-icon > div > input{
  line-height: 56px !important;
  font-family: ChivoRegular;
  font-size: 14px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px !important;
  height: 56px;
  margin-left: 5px !important;
}

.newReport-item-icon > div > select{
  line-height: 56px !important;
  font-family: ChivoRegular;
  font-size: 14px;
  height: 56px;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  background-color: #ffffff;
  border: 0;
  margin-left: 5px !important;
}

.newReport-item-icon > div > p.placeholder {
  pointer-events: none;
  position: absolute;
  top: 0;
  background-color: #ffffff;
  left: 0;
  width: 100%;
}

.newReport-item-title{
  color: #999999;
  font-family: ChivoBold;
  padding-left: 15px !important;
  background-color: #ffffff;
  width: 100%;
  height: 60px !important;
  line-height: 60px !important;
  font-size: 14px !important;
  border-bottom: 1px solid #f4f4f4 !important;
}

.newReport-item-description{
  color: #999999;
  font-family: ChivoRegular;
  font-size: 14px !important;
  line-height: 18px;
  padding: 15px;
  background-color: #ffffff;
  width: 100%;
}

.newReport-material-cont{
  width: 100%;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 5px;
}

.newReport-material-cont > div:first-of-type{
  max-height: 250px;
  width: 100%;
  text-align: center;
  position: relative;
}

.newReport-material-cont > div > img, .newReport-material-cont > div > iframe, .newReport-material-cont > div > audio{
  max-width: 100%;
  max-height: 250px;
}

.newReport-material-cont > p {
  font-family: ChivoBold;
  font-size: 14px;
  color: #033333;
  margin: 15px 0;
}

.newReport-material-cont > div:last-of-type > span{
  font-size: 13px;
  font-family: ChivoBold;
  color: #cccccc;
  padding: 5px 8px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  display: inline-block;
}

.newReport-material-cont > div:last-of-type{
  margin-bottom: 10px;
}


/***************************** REPORT ************************************/

.report-cont{
  background-color: #f4f4f4;
}

.report-cont > ion-scroll{
  height: 100%;
  width: 100%;
}

.report-cont > ion-scroll > div > div {
  background-color: #ffffff;
}

.report-student{
  font-family: ChivoBlack;
  font-size: 18px;
  color: #033333;
  padding: 20px 15px 10px;
  background-color: #ffffff;
  margin: 0;
}

.report-item-icon{
  height: 35px;
  background-color: #ffffff;
  clear: both;
  overflow: hidden;
}
.report-item-icon.student{
  height: 50px;
}

.report-item-icon > i{
  line-height: 35px;
  float: left;
  width: 30px;
  color: #c1bcb0;
  text-align: center;
  padding-left: 15px;
  font-size: 16px;
}

.report-item-icon > *:last-child{
  float: left;
  width: 80%;
  height: 35px;
  line-height: 35px;
  font-family: ChivoRegular;
  color: #999999;
  margin-left: 15px;
}

.report-item-class{
  min-height: 35px;
  background-color: #ffffff;
  clear: both;
  overflow: hidden;
  padding: 15px 0 0 15px;
}
.report-item-class > p{
  float: left;
  width: 80%;
  font-family: ChivoBold;
  font-size: 16px;
  color: #033333;
  line-height: 35px;
}
.report-item-class > span{
  color: #333333;
  float: right;
  padding-right: 10px;
  font-size: 17px;
  line-height: 35px;
  width: 30px;
  text-align: center;
}

.report-description {
  background-color: #ffffff;
  padding: 0 15px 15px;
  font-size: 15px;
  font-family: ChivoRegular;
  color: #999999;
  line-height: 20px;
}
.report-description.student{
  margin: 0;
}
.report-description.feedback {
  margin-top: 10px;
  padding-bottom: 25px;
}

.report-item-icon.material {
  height: 60px;
  margin-top: 10px;
  padding-top: 12px;
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}

.report-item-icon.material > div > p{
  font-family: ChivoRegular;
}

.report-item-icon.material > div > p > span{
  position: absolute;
  right: 0;
  padding-right: 10px;
  width: 30px;
  text-align: center;
  color: #333333;
  font-size: 17px;
}
.report-item-icon.material > i.feedback{
  color: #09ccbe;
}

.report-item-icon.feedback{
  border: 0 !important;
}

.report-teacher{
  color: #9c999c;
  font-family: ChivoRegular;
  font-size: 16px;
  background-color: #ffffff;
  padding: 0 15px;
  margin: 0;
  line-height: 35px;
}

.report-send-feedback{
  background-color: #ffffff;
  padding: 0 10px;
}
.report-send-feedback > div {
  max-width: 600px;
  margin: auto;
}
.report-send-feedback > div > div.padding{
  padding: 5px;
}
.report-send-feedback > div > div > img{
  max-width: 100%;
}
.report-send-feedback > div > div > p{
  font-size: 9px;
  font-family: ChivoRegular;
  color: #999999;
  text-align: center;
}

.report-feedback-point-cont{
  clear: both;
  height: 50px;
  margin: 0 15px;
}

.report-feedback-point-cont  > p{
  font-family: ChivoBold;
  font-size: 15px;
  color: #033333;
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
  line-height: 40px;
  width: 95%;
  margin: 0;
  float: left;
}

.report-feedback-point-cont  > img{
  float: right;
  height: 50px;
  margin-left: -50px;
}


.newReport-media-delete-btn{
  position: absolute;
  top: -7px;
  right: -7px;
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
  font-size: 11px !important;
  border: 1px solid #ffffff;
}
