.contact-cont {
  background-color: #f4f4f4;
}

.contact-cont > div.contact-header {
  height: 30%;
  background-color: #09ccbe;
  text-align: center;
}

.contact-cont > div.contact-header > img {
  height: 40%;
  max-height: 200px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact-content {
  height: 70%;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

.contact-content > div > div > div {
  margin-bottom: 10px;
  text-align: left;
}

.contact-content > div > div > div > i {
  font-size: 22px;
  color: #666666;
  display: inline-block;
  line-height: 30px;
}

.contact-content > div > div > div > span {
  font-family: ChivoRegular;
  color: #666666;
  margin-left: 15px;
  display: inline-block;
  line-height: 30px;
  width: 100%;
}

.align-right{
  text-align: center !important;
}
