.action-sheet .button {
    font-size: 16px !important;
}

.platform-android .action-sheet .button{
    height: 50px !important;
    font-size: 15px !important;
    font-family: ChivoBlack !important;
    padding-left: 50px !important;
}

.platform-android .action-sheet .button > i{
    color: #cccccc;
    vertical-align: middle !important;
}
.platform-android .action-sheet .button > i:before{
    font-size: 20px !important;
    padding-left: 2px !important;
}



/****************************** HEADER / TAB ***********************************/

.headerMedia-cont > ion-nav-view{
    background-color: #f4f4f4 !important;
}

.headerMedia-cont > ion-header-bar{
    border: 0 !important;
    background-color: #ffffff;
    background-image: none !important;
}

.headerMedia-title{
    font-size: 14px !important;
    font-family: ChivoBlack;
    color: #666666;
    left: 40px !important;
    right: 40px !important;
}

.headerMedia-title.center{
    text-align: center !important;
}

.headerMedia-title > p{
    text-align: left !important;
}
.headerMedia-title > p > span.tab-goal{
    font-family: ChivoBold;
    background-color: #666666;
    color: #ffffff;
}
.headerMedia-title > p > span.tab-search{
    font-family: ChivoBold;
    color: #666666;
}

.headerMedia-cont > ion-header-bar > div > button{
    color: #cccccc !important;
}
.headerMedia-cont > ion-header-bar > div > button:before, .headerMedia-cont > ion-header-bar > div > button > i:before{
    font-size: 20px !important;
}

.headerMedia-tab{
    padding: 0 !important;
    border-bottom: 0 !important;
}
.headerMedia-tab > div{
    text-align: center;
    padding: 0 !important;
    border-bottom: 2px solid rgba(0,0,0,0.1) !important;
}

.headerMedia-tab > div > i{
    color: #cccccc;
    font-size: 20px;
    line-height: 48px;
}

.headerMedia-tab > div.active{
    border-bottom: 2px solid #09ccbe !important;
}
.headerMedia-tab > div.active > i{
    color: #09ccbe;
}

.headerMedia-tab > div > button, .headerMedia-tab > div > button:hover {
    position: relative;
    height: 60px;
    width: 60px;
    background: #09ccbe;
    border: 0;
    border-radius: 50%;
    margin: -6px auto;
    color: white;
    box-shadow: 0px 0px 4px #999999;
    font-size: 26px;
    line-height: 30px;
}

.headerMedia-tab > div > button.activated, .headerMedia-tab > div > button:active {
    background-color: #08b3a7;
    border: 0;
}
.headerMedia-tab > div > button.activated >i:last-child, .headerMedia-tab > div > button:active >i:last-child {
    border: 3px solid #08b3a7;
}

.headerMedia-tab > div > button >i:before{
    font-size: 22px !important;
}

.headerMedia-tab > div > button >i:first-child {
    position: absolute;
    right: 14px;
    top: 9px;
    opacity: 0.5;
}

.headerMedia-tab > div > button >i:last-child {
    position: absolute;
    left: 13px;
    bottom: 13px;
    border: 3px solid #09ccbe;
    border-radius: 100%;
    line-height: 18px;
}

.headerMedia-tab > div > button >i:last-child:before{
    line-height: 18px !important;
    padding: 0;
    margin: 0;
}

/****************************** MEDIA ***********************************/

.media-cont{
    background-color: #f4f4f4;
}

.media-cont > div{
    text-align: center;
    height: 62px;
    padding: 7px;
}

.media-cont > ion-scroll{
    position: absolute;
    top: 62px;
    bottom: 0;
    left: 0;
    right: 0;
}

.media-custom-toggle{
    margin: 0 auto;

}

.media-custom-toggle > div > i:first-of-type{
    color: #ffffff;
    width: 35px;
    font-size: 18px;
    text-align: center;
    float: left;
    line-height: 30px;
    padding-left: 5px;
}

.media-custom-toggle > div > i:last-of-type{
    color: #09ccbe;
    width: 35px;
    font-size: 18px;
    text-align: center;
    float: right;
    line-height: 30px;
    padding-right: 5px;
}

.media-grid-item{
    width: 31vw;
    background-color: #4d4d4d;
    height: 31vw;
    display: inline-block;
    margin: 1vw;
}

.media-grid-item > * {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.media-list-item{
    background-color: #ffffff;
    padding: 10px;
    max-width: 600px;
    margin: 5px auto;
}

.media-list-item > div:first-of-type{
    max-height: 250px;
    width: 100%;
    text-align: center;
}

.media-list-item > div > img, .media-list-item > div > audio{
    max-height: 250px;
    max-width: 100%;
}

.media-list-item > p {
    font-family: ChivoBold;
    font-size: 14px;
    color: #033333;
    margin: 15px 0;
}

.media-list-item > div:last-of-type > span{
    font-size: 13px;
    font-family: ChivoBold;
    color: #cccccc;
    padding: 5px 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.media-list-item > div:last-of-type{
    margin-bottom: 10px;
}

/************************** NEW MEDIA *******************************/

.newMedia-cont{
    background-color: #f4f4f4;
}

.newMedia-cont > ion-scroll{
    height: 100%;
}

.newMedia-item-cont{
    background-color: #ffffff;
    border-bottom: 2px solid rgba(0,0,0,0.1);
}

.newMedia-item-cont > div{
    width: 32vw;
    background-color: #ffffff;
    height: 32vw;
    display: inline-grid;
    margin: 0;
}

.newMedia-item-cont > div > div{
    background-color: #ffffff;
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.newMedia-item-cont > div > div.activated, .newMedia-item-cont > div > div.active{
    opacity: 0.7;
}

.newMedia-item-cont > div > div > i:first-child:before{
    font-size: 45px !important;
}

.newMedia-item-cont > div > div > i:first-child {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #cccccc;
}

.newMedia-item-cont > div > div > i:last-child:before {
    font-size: 35px !important;
    line-height: 32px;
}

.newMedia-item-cont > div > div > i:last-child {
    position: absolute;
    left: 8px;
    bottom: 5px;
    color: #666666;
    border: 4px solid #ffffff;
    border-radius: 100%;
    height: 34px;
    background-color: #ffffff;
}

/********************************** NEW MEDIA FORM **********************************/

.mediaForm-header{
    border: 0 !important;
    background-color: #ffffff;
    background-image: none !important;
    box-shadow: 0px 2px 12px rgba(0,0,0,.2);
}

.mediaForm-header > div > button, .mediaForm-header > div > button:hover{
    color: #cccccc;
}
.mediaForm-header > div > button:before{
    font-size: 20px !important;
}
.mediaForm-header > div > button.active,
.mediaForm-header > div > button.activated{
    opacity: 0.7;
}

.mediaForm-header > div:last-of-type > button,
.mediaForm-header > div:last-of-type > button:hover{
    color: #666666;
    font-family: ChivoBlack;
    font-size: 13px !important;
}
.mediaForm-header > div:last-of-type > button.active,
.mediaForm-header > div:last-of-type > button.activated{
    opacity: 0.7;
    background-color: transparent;
}

.mediaForm-header > div:last-of-type > button > i:before{
    font-size: 16px !important;
    line-height: 28px !important;
    padding-left: 8px !important;
    color: #666666 !important;
}

.mediaForm-cont{
    background-color: #ffffff;
}

.mediaForm-cont > ion-scroll{
    width: 100%;
    height: 100%;
}

.mediaForm-cont > ion-scroll > div > div:first-of-type{
    max-height: 250px;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.mediaForm-cont > ion-scroll > div > div:first-of-type > img{
    max-width: 100%;
    max-height: 220px;
}
.mediaForm-cont > ion-scroll > div > div:first-of-type > video,
.mediaForm-cont > ion-scroll > div > div:first-of-type > audio{
    width: 100%;
    max-height: 220px;
}

.mediaForm-cont > ion-scroll > div > div:nth-child(2){
    border-top: 1px solid #dddddd;
}

.mediaForm-cont > ion-scroll > div > div:not(:first-of-type){
    min-height: 60px;
    border-bottom: 1px solid #dddddd;
    padding: 15px;
    overflow: hidden;
}

.mediaForm-cont > ion-scroll > div > div > p:first-of-type{
    color: #09ccbe;
    font-size: 14px;
    font-family: ChivoBold;
    line-height: 18px;
    margin: 0;
    text-align: left;
}

.mediaForm-cont > ion-scroll > div > div > input{
    width: 100%;
    background-color: transparent;
    font-family: ChivoLight;
    color: #666666;
}

.mediaForm-cont > ion-scroll > div > div > div{
    width: 100%;
    clear: both;
    height: 34px;
}

.mediaForm-cont > ion-scroll > div > div > div > p.goal{
    width: 85%;
    font-family: ChivoLight;
    color: #999999;
    margin: 0;
    padding-top: 2px;
    line-height: 34px;
    float: left;
}

.mediaForm-cont > ion-scroll > div > div > div > i{
    float: right;
    line-height: 36px;
    font-size: 16px;
    color: #666666;
}

.mediaForm-cont > ion-scroll > div > div > input::-webkit-input-placeholder{
    color: #999999 !important;
}
.mediaForm-cont > ion-scroll > div > div > input::-moz-placeholder{
    color: #999999 !important;
}
.mediaForm-cont > ion-scroll > div > div > input:-ms-input-placeholder{
    color: #999999 !important;
}

.mediaForm-goal{
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 6px 6px 0 0 !important;
    font-size: 14px;
    font-family: ChivoBold;
    color: #666666;
    background-color: #ffffff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
}
.imageBlock {
    height: auto !important;
}
.imageBlock img,
.imageBlock video {
    display:none;
    max-height: 200px;
}
.imageBlock img.show,
.imageBlock video.show {
    display:inline-block;
}
.imageBlock img.show + label,
.imageBlock video.show + label {
    display:none;
}
.imageBlock label {
    display:block;
    max-width: 200px;
    margin-left:auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
}
.imageBlock i {
    font-size:50px;
    color:#666666;
}
.imageBlock span {
    display:block;
}
.imageBlock  input{
    display:none;
}
@media screen and (min-width: 600px){
    .media-grid-item {
        width: 23vw;
        height: 23vw;
    }
}
