.login-cont{
  width: 100%;
  height: 100%;
  background-color: #efe8da;
}

.login-header{
  height: 33%;
  width: 100%;
  background-color: #09ccbe;
  text-align: center;
}

.login-header > img{
  height: 45%;
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.login-cont > form{
  max-width: 280px;
  margin: -25px auto 0;
  box-shadow: 0px 0px 40px -20px;
}

.login-cont > form > div{
  background-color: #ffffff;
  height: 61px;
}

.login-cont > form > div:first-child{
  border-bottom: 1px solid #efe8da;
  border-radius: 5px 5px 0 0 !important;
}
.login-cont > form > div:nth-of-type(3) {
  border-top: 1px solid #efe8da;
}

.login-cont > form > div > p{
  width: 100%;
  color: #666666;
  text-align: center;
  opacity: 0;
  margin: 0;
  height: 0;
  font-size: 12px;
  font-family: ChivoRegular;
  /*-webkit-transition: opacity 0.15s ease-in, top 0.2s linear;*/
  /*transition: opacity 0.15s ease-in, top 0.2s linear;*/
}
.login-cont > form > div > p.show{
  opacity: 1;
  height: 24px ;
  padding-top: 8px;
}

.login-cont > form > div > input{
  width: 100%;
  text-align: center;
  color: #666666;
  font-size: 15px !important;
  font-family: ChivoRegular;
  padding: 0;
  height: 28px;
}
.login-cont > form > div > input.placeholder{
  line-height: 60px;
  height: 60px;
  background-color: transparent;
}

::-webkit-input-placeholder {
  color: #666666 !important;
}
:-moz-placeholder {
  color: #666666 !important;
}
::-moz-placeholder {
  color: #666666 !important;
}
:-ms-input-placeholder {
  color: #666666 !important;
}

.login-cont > form > button, .login-cont > form > button:hover {
  background-color: #09ccbe;
  width: 100%;
  border-radius: 0 0 5px 5px;
  height: 60px;
  color: #ffffff;
  border: 0;
  font-family: ChivoBlack;
  font-size: 15px
}
.login-cont > form > button.active, .login-cont > form > button.activated{
  background-color: #09ccbe;
  opacity: .7;
}

.login-cont > p{
  width: 100%;
  text-align: center;
  color: #666666;
  padding: 25px 0;
  font-family: ChivoRegular;
  font-size: 14px;
}

.login-cont > p > span{
  padding: 20px;
}


.login-footer{
  width: 280px;
  border-top: 1px solid #c1bcb0;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  text-align: center;
}
.login-footer > img{
  max-width: 70%;
  max-height: 35px;
  margin-top: 30px;
}

.login-footer2{
  margin: auto;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 60px;
  text-align: center;
  background-color: rgba(193, 188, 176, 0.44);
}

.login-footer2 > p{
  line-height: 60px;
  color: #666666;
  font-family: ChivoRegular;
  font-size: 14px;
}

.login-footer2 > p > span{
  padding-bottom: 2px;
  border-bottom: 1px solid #333333;
  font-family: ChivoBold;
}

.button-step2, .button-step2:hover{
  background-color: #ffffff !important;
  color: #09ccbe !important;
  border-radius: 5px !important;
  margin-bottom: 10px !important;
  box-shadow: 0 0 35px -8px #cccccc;
}
.button-step2.active, .button-step2.activated{
  opacity: 1 !important;
  background-color: #f4f4f4 !important;
}

.form-step2{
  box-shadow: none !important;
}

@media screen and (max-width: 300px){
  .login-footer2 > p{
    font-size: 13px;
  }
}
