.academy-cont{
  background-color: #f4f4f4;
}

.academy-cont > div{
  height: 50%;
  background-color: #09ccbe;
  text-align: center;
}

.academy-cont > div > img {
  height: 40%;
  max-height: 200px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.academy-cont > ion-scroll{
  height: 50%;
  height: calc(50% + 50px);
  margin-top: -50px;
  padding: 20px;
}
.academy-cont > ion-scroll > div.scroll-bar{
  display: none;
}

.academy-cont > ion-scroll > div > div{
  height: 80px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 0 auto 20px;
  box-shadow: 0px 0px 22px -10px;
  padding: 10px;
  clear: both;
  line-height: 60px;
  overflow: hidden;
  max-width: 500px;
}
.academy-cont > ion-scroll > div > div:last-of-type{
  margin-bottom: 0 !important;
}

.academy-cont > ion-scroll > div > div > img{
  max-height: 60px;
  max-width: 60px;
  min-width: 60px;
  float: left;
  padding: 10px;
}
.academy-cont > ion-scroll > div > div > span{
  float: left;
  width: 60%;
  width: calc(100% - 90px);
  font-size: 14px;
  font-family: ChivoBold;
  color: #333333;
}
.academy-cont > ion-scroll > div > div > i{
  float: right;
  height: 60px;
  line-height: 60px;
  margin-right: 10px;
  color: #09ccbe;
  font-size: 16px;
}
