<ion-modal-view>

  <ion-header-bar class="newReport-header">

    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="closeFeedbackModal()"></button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button icon-right ion-android-send" ng-click="sendFeedback()">
        CALIFICAR
      </button>
    </div>

  </ion-header-bar>

  <ion-content scroll="false" class="feedbackModal-cont">

    <div>
      <img src="img/feedback-{{feedback.value}}.png">
      <div>
        <select ng-model="feedback.value">
          <option value="5" ng-selected="feedback.value == 5">Excelente</option>
          <option value="4" ng-selected="feedback.value == 4">Muy bueno</option>
          <option value="3" ng-selected="feedback.value == 3">Regular</option>
          <option value="2" ng-selected="feedback.value == 2">Malo</option>
          <option value="1" ng-selected="feedback.value == 1">Muy malo</option>
        </select>
        <p>{{{1: 'Muy Malo', 2: 'Malo', 3: 'Regular', 4: 'Muy Bueno' , 5: 'Excelente'}[feedback.value]}}</p>
      </div>
    </div>
    <textarea rows="4" placeholder="Dejanos tu comentario (opcional)" ng-model="feedback.notes"></textarea>


  </ion-content>

</ion-modal-view>

