<ion-modal-view class="goalsModal find">
  <ion-header-bar>
    <div></div>
    <h1 class="title">
      <input ng-model="search.keyword" placeholder="¿Que estas buscando?" ng-change="filterGoals()">
    </h1>
    <div class="buttons">
      <button class="button button-icon ion-android-close" ng-click="hideGoalModal()"></button>
    </div>
  </ion-header-bar>

  <ion-content scroll="false">

    <ion-scroll>
      <p class="noResult-cont left" ng-if="goalList.length == 0 && !goalSelected && !loadingGoals">
        No se encontraron resultados
      </p>

      <span class="active" ng-repeat="goal in goalSelected track by $index" ng-click="setGoal(goal)">
        {{goal.name}}
      </span>

      <span ng-repeat="goal in goalList track by $index" ng-click="setGoal(goal)" ng-if="!isSelected(goal.id)">
        {{goal.name}}
      </span>

      <ion-infinite-scroll on-infinite="loadMoreGoals()" ng-if="moreGoals" immediate-check="true" distance="1%"></ion-infinite-scroll>

    </ion-scroll>

  </ion-content>

</ion-modal-view>
