<div class="menu-custom">

  <div class="item" ng-click="optionSelected('changeAcademy')">
    Academias
  </div>
  <div class="item" ng-click="optionSelected('changePassword')">
    Cambiar Contraseña
  </div>
  <div class="item" ng-click="optionSelected('contact')">
    Contacto
  </div>
  <div class="item" ng-click="optionSelected('logout')">
    Cerrar Sesión
  </div>

</div>
