<ion-popover-view>
  <div class="menu-custom popOption">
    <div class="item" ng-click="edit()" ng-if="hasPermission">
      Editar
    </div>
    <div class="item" ng-click="clone()">
      Clonar
    </div>
      <div class="item" ng-click="delete()" ng-if="hasPermission">
      Eliminar
    </div>
  </div>
</ion-popover-view>
