<ion-modal-view class="audioModal">
  <ion-header-bar>
    <div class="buttons">
      <button class="button button-icon ion-android-arrow-back" ng-click="closeAudioModal()"></button>
    </div>
    <h1 class="title"></h1>
  </ion-header-bar>

  <ion-content scroll="false">
    <div>
      <span>{{isRecording ? 'Grabando...' : 'Grabar Audio'}}</span>
    </div>

    <div ng-click="getFromAudio()">
      <i class="icon" ng-class="isRecording ? 'ion-checkmark' : 'ion-play'"></i>
    </div>

    <i class="icon ion-android-close" ng-click="saveAudio(false)"></i>

  </ion-content>
</ion-modal-view>

