<ion-modal-view>

  <ion-content scroll="false">

    <button class="button youtube-rotate-btn" ng-click="rotateScreen()"></button>
    <button class="button ion-close youtube-back-btn" ng-click="closeModalYoutube()"></button>

    <iframe src="{{'https://www.youtube.com/embed/' + media.media_material.uri + '?modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0&fs=0&cc_load_policy=0'}}"
            frameborder="0" width="100%" height="100%" ng-if="showModal">
    </iframe>

  </ion-content>

</ion-modal-view>
